<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제목 태그별 크기 비교</title>
</head>
<style>
    h2 {
        color : red;
    }
    #abc {
        color: orange;
    }
    .test {
        color: blue;
        font-size: 40px;
    }
</style>
<body>
    <h1 id="abc">숫자가 1일 때의 제목 텍스트</h1>
    <h2>숫자가 2일 때의 제목 텍스트</h2>
    <h3 class="test">숫자가 3일 때의 제목 텍스트</h3>
    <h4 style="color: green;">숫자가 4일 때의 제목 텍스트</h4>
    <h5>숫자가 5일 때의 제목 텍스트</h5>
    <h6>숫자가 6일 때의 제목 텍스트</h6>
</body>
</html>